/* STYLE-About */
*{
    margin: 0;
    padding: 0;
 
}
.Wrapper_About{
    width: 100%;
    height: 100vh;
    
}

.Wrapper_About::-webkit-scrollbar{
    display: none;
}
.Wrapper_About .styleBar{
    display: grid;
    width: 100%;
    background: #0F0F0F;
    height: 30vh;
    justify-items:center;
    
    border-radius: 0px 0px 22px 22px  ;
    grid-template-rows: 50px 1fr 1fr 1fr 70px;
    flex-wrap:wrap;
}
.Wrapper_About .styleBar h1{
    color: white;
    grid-row: 5; 
      
    font-size: 3vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

}
.Wrapper_About .ImgSec{
    width: 100%;
    height: 60%;
     
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-content: center; 
    white-space: wrap;
   overflow-y: hidden;
   overflow-x: auto;
    top: 20px;
    gap: 12px;
    /* background: rebeccapurple; */
}
.Wrapper_About .ImgSec::-webkit-scrollbar{
    display: none;
}
.Wrapper_About .ImgSec img{
    position: relative;
     height: 400px;
     filter: grayscale(1);
    border-radius: 22px ;
    z-index: -0;
    top: 5%;
     
}
.Wrapper_About .ImgSec img:hover{
    filter: grayscale(0);
    scale: 1.0;
    
    transition: all 2ms ease-in;
}
.Wrapper_About .context{
    mix-blend-mode: difference;
    position: absolute;
    z-index: 999;
    top: 85%;
    border-radius: 22px 22px 0px 0px;
    padding-top: 2%;
    flex-wrap: wrap;
    display: flex;
    align-content: start;
    
    padding-left:15%;
    padding-right:15%;
    justify-content: start;
    width: 100%;
    background: #0F0F0F;
    height: 30%;
    text-align: center;
}
.Wrapper_About .context p{
    color: aliceblue;
}
.Wrapper_About .OurServices{
    box-shadow: 0px -2.5px 0px 2px #FF9100;
    position: absolute;
    z-index: 999;
    top: 110%;
    border-radius: 22px 22px 0px 0px;
    padding-top: 2%;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left:15%;
    padding-right:15%;
    justify-content: center;
    width: 100%;
    background: #0F0F0F;
    height: 20%;
    text-align: center;
}
.Wrapper_About .OurServices h1{
    color: white;
}
@media screen and (max-width:600px){
    .Wrapper_About .context{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .Wrapper_About .context p{
        color: aliceblue;
        font-size: 1vmax;
        
        
        height: max-content;
    }   
}